.app-header {
    top: 0;
    width: 100%;
}

.app-nav {
    background: linear-gradient(90deg, #ff6f61, #ff9068);
    padding: 15px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    & .logo {
        font-size: 1.2em;
        font-weight: bold;
        letter-spacing: 2px;
    }

    & a {
        color: white;
        text-decoration: none;
        font-size: 1.1em;
        transition: color 0.3s;
    }

    & a:hover {
        color: #ffd5c2;
    }
}