.user-msg {
    background-color: rgb(255, 255, 255);
    padding: 1em 1em;
    position: fixed;
    bottom: 0;
    right: 1em;
    color: white;
    border-radius: 2px;
    font-size: 1em;
    &.success {
        background-color: rgb(9, 91, 0);
    }
    
    &.error {
        background-color: var(--clr2);
    }
    
    & button {
        font-size: .8em;
        float: right;
        margin: .5em;
    }
}