.toy-details-page {
    flex-grow: 1;
    padding: 100px 20px 50px;
    text-align: center;
}

.toy-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    & {
        margin-top: 20px;
        text-align: left;
        width: 100%;
    }
    
    & h1 {
        font-size: 2.5em;
        color: #333;
    }
    
    & p {
        font-size: 1.2em;
        color: #666;
        margin: 10px 0;
    }
    
    & .toy-description h2 {
        font-size: 2em;
        color: #333;
        margin-top: 20px;
    }
    
    & .toy-description p {
        font-size: 1.2em;
        color: #666;
        line-height: 1.6;
    }
}

.toy-image img {
    max-width: 100%;
    border-radius: 15px;
}

.back-button {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.back-button:hover {
    background-color: #ff9068;
}